* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #38355c;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

.headernon {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

.logo {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.logonon {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgb(56, 53, 92);
    animation: showRight 1.8s ease forwards;
    animation-delay: 1s;
}

.navbar a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
}

.navbarnon a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgb(56, 53, 92);
    animation: showRight 1.8s ease forwards;
    animation-delay: 1.75s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(88, 211, 239);
}

.navbarnon a:hover,
.navbarnon a.active {
    color: rgb(88, 211, 239);
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.homenon {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}



.home-content {
    max-width: 900px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    color:rgb(255, 255, 255);
    line-height: 1.2;
    position: relative;
}

.home-contentnon {
    max-width: 900px;
}

.home-contentnon h1 {
    font-size: 56px;
    font-weight: 700;
    color:rgb(255, 255, 255);
    line-height: 1.2;
    position: relative;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgb(56, 53, 92);
    animation: showRight 1.8s ease forwards;
    animation-delay: 2.8s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(88, 211, 239);
    position: relative;
}

.home-contentnon h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(88, 211, 239);
    position: relative;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgb(56, 53, 92);
    animation: showRight 1.8s ease forwards;
    animation-delay: 4.6s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-contentnon p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgb(56, 53, 92);
    animation: showRight 1.8s ease forwards;
    animation-delay: 6.4s;
}

.home-content .btn-box {
    width: 345px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgb(56, 53, 92);
    animation: showRight 1.8s ease forwards;
    animation-delay: 8.2s;
    z-index: 2;
}

.btn-box a {
    width: 150px;
    height: 100%;
    background: rgb(88, 211, 239);
    border-radius: 8px;
    display: inline-flex;
    font-size: 19px;
    color: rgb(56, 53, 92);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(88, 211, 239);
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: rgb(88, 211, 239);
}

.btn-box a:nth-child(2)::before {
    background:rgb(88, 211, 239); 
}

.btn-box a:nth-child(2):hover {
    color:rgb(56, 53, 92);
}

.btn-box a:hover {
    color:rgb(88, 211, 239);
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(56, 53, 92);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 16%;
    margin-bottom: 4px;
}

.home-scinon {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 16%;
    margin-bottom: 4px;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgb(56, 53, 92);
    animation: showRight 1.8s ease forwards;
    animation-delay: 10.2s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(88, 211, 239);
    border-radius: 50%;
    font-size: 20px;
    color:rgb(88, 211, 239);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-scinon a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(88, 211, 239);
    border-radius: 50%;
    font-size: 20px;
    color:rgb(88, 211, 239);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:rgb(88, 211, 239);
    z-index: -1;
    transition: .5s;
}

.home-scinon a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:rgb(88, 211, 239);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-scinon a:hover::before {
    width: 100%;
}

.home-sci a:hover {
    color: rgb(56, 53, 92);
}

.home-scinon a:hover {
    color: rgb(56, 53, 92);
}

@keyframes showRight {
    100% {
        width: 0;
    }
}
